.swiper-slide{
  width: 28% !important;
  height: 33rem !important;
}
.swiper-slide-home-banner{
  width: 100vw !important;
  height: 100vh !important;
}

.swiper-button-prev, .swiper-button-next {
  color: #808080 !important;
  margin-right: 1rem;
  border: 0px !important;
  border-color: transparent;
  box-sizing: none;
}

.swiper-button-prev::after, .swiper-button-next::after, .swiper-button-prev:focus-visible, .swiper-button-next:focus-visible {
  border: 0px !important;
  border-color: transparent;
  box-sizing: unset;
}

.swiper {
  width: 100%;
  height: 100%;
}

.min-h-content{
    height: 19vw;
}

.home-investment-right-image{
    height: 70vh;
}

.wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}

.carousel{
  width: full;
  margin:0px auto;
}

.slick-slide{
  width: 400px !important;
  height: 485px !important;
  display: flex !important;
  margin: 0 1rem;
}

#carousel-first-child {
  width: 8.8vw !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slick-slide{
    width: 65vw !important;
    height: 48vh !important;
  }

  .swiper-slide-property{
    width: 75% !important;
    height: 25rem !important;
  }

  #carousel-first-child {
    width: 3.8vw !important;
    height: 48vh !important;
  }

  .home-investment-right-image{
    height: 25vh;
  }

  .min-h-content{
    height: 50vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}