.foreword-image-container{
    height: 52vh;
}

.expander {
	width: 27.5vw;
	background:black;
	overflow:hidden;
	margin-top:20px;
	margin-left:30px;
}

.expander:first-child {
	margin-left:0px;
}

.property-project-description{
	max-width: 28vw;
}

.project-list__container__project{
	max-width: 85.5vw;
}

.option {
	cursor: pointer;
}

.option.selected {
	background-color: black;
	opacity: 0.5;
	color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.expander {
		width: 100%;
		background:black;
		overflow:hidden;
		margin-top:20px;
		margin-left:0;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}