.full-page{
    max-width: 98.5vw;
}

.full-page-height{
    height: 88.5vh;
}

#home-story, #reach-us{
    height: 80vh
}

.explore-rotate-left, .explore-rotate-down{
    cursor: pointer;
}

.explore-rotate-down:hover .icon{
    transform: rotate(135deg);
}

.icon{
    transition: ease-in 0.3s;
}