.foreword-image-container{
    height: 52vh;
}

.swiper-slide{
    height: 30vw !important;
}

.min-h-content{
    height: 19vw;
}

.home-investment-right-image{
    height: 70vh;
}

.team-person__container__image{
    height: 30vw;
}

.team-team-partners-list__image{
    height: 8vw;
}